PUBLIC_APP_URL=http://localhost:8787
APP_NAME=Tuvu

TMDB_API_KEY=
RAWG_API_KEY=
OPEN_LIBRARY_CONTACT_EMAIL=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_AVATARS_BUCKET=tuvu-avatars
SUPABASE_STORAGE_MEDIA_CACHE_BUCKET=tuvu-media-cache
